<!DOCTYPE table Public "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>票房晚报</title>
<meta name="baidu-site-verification" content="PlKNuB5N14" />
<meta name="description" content="电影票房预测">
<meta name="keywords" content="电影票房预测">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../static/lib/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/lib/index.css" />
<link rel="stylesheet" type="text/css" href="../static/lib/index_forcast.css"/>
<link rel="stylesheet" href="../static/lib/jquery-ui.min.css">
<link id="bs-css" href="../static/lib/bootstrap-cerulean.min.css" rel="stylesheet">
<link id="bs-css" href="../static/lib/jquery.dataTables.min.css" rel="stylesheet">

<script src="http://piaofang.snbigdata.com/Public/js/jquery-1.11.1.min.js"></script>
<script src="http://piaofang.snbigdata.com/Public/js/jquery.dataTables.js"></script>



<script src="http://piaofang.snbigdata.com/Public/js/Xslider.js"></script>

<script src="../static/lib/global.js"></script>
<script src="http://piaofang.snbigdata.com/Public/js/echarts/echarts.min.js"></script>
<script src="../static/lib/echarts.min.js"></script>
<script src="../static/lib/layer/layer.js"></script>
<script src="http://piaofang.snbigdata.com/Public/Bootstrap3.3.0/js/bootstrap.min.js"></script>
<script src="http://piaofang.snbigdata.com/Public/jquery-ui-1.11.2/jquery-ui.min.js"></script>
<script src="http://piaofang.snbigdata.com/Public/jquery-ui-1.11.2/datepicker-zh-cn.js"></script>
<script type="text/javascript"	src="http://piaofang.snbigdata.com/Public/jquery-ui-1.11.2/jquery-ui-timepicker-addon.js"></script>
<script src="../static/date/date.funcs.js"></script>
<script src="../static/date_pick/date.pick.funcs.js"></script>
<script src="../static/table/table.format.js"></script>
<script src="../static/chart/chart.format.js"></script>
<script src="../static/chart/chart.options.js"></script>
<script src="../static/pop/pop.format.js"></script>
<style type="text/css">
body{
font-family:'微软雅黑','宋体';
}
</style>
<script>
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?416b9af87687a008381d0a070a8267f4";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
 
<body>
<div style="background-color:#ff9966;width:100%;min-width:1045px">
    <div  class="forecast1" style='margin:auto auto;width:1045px'>
        <ul class="nav nav-tabs forecast"  style="font-size:large">
            <li role="presentation  " class="active"><a   href="http://10.199.242.43:8000/">每日预测</a></li>
            <li role="presentation  " ><a   href="http://10.199.242.43:8000/wholeBox">总票房预测</a></li>
            <li role="presentation  " ><a   href="http://10.199.242.43:8000/week">周票房预测</a></li>
	    <li role="presentation  "><a   href="http://10.199.242.43:8000/battle">巅峰对决</a></li>
	    <li role="presentation  "><a   href="http://10.199.242.43:8000/deep">影片深度分析</a></li>
        </ul>
    </div>
</div>

<div  style="width:100%;min-width:1045px;background: url(../static/imgs/5-150212233308.png) repeat; width:medium;text-align:center">
    <br/>
    <div class="div_margin" style="width:1040px;">
        <div class="title_one"><span style="font-size:28px;color:white;" >当日预测票房与实际票房比较 </span>
        </div>	     	  
        <div class="choose_forcast_d" style="background-color:white;">
            <div style="background-color:white;height:32px;width:20%;text-align:center;line-height:2.4;float:left" ><a  id="pre_d"  class="pre_d" href="javascript:void(0);"   >&lt;前一天</a></div>
            <div style="background-color:white;width:60%;text-align:center;float:left" >
                <span  class="col-sm-6 date-con text-right">发布日期：</span><input style="font-size:15;height:32px" readOnly id="forcast" type="text" class=" datep col-sm-4">
            </div>
            <div  style="background-color:white;height:32px;width:20%;text-align:center;line-height:2.4;float:left"><a  id="aft_d"  class="aft_d"  href="javascript:void(0);"    >后一天&gt;</a></div>
        </div>
              
        <table class="table table-striped table-border table-hover forcast text-center back_color_w">
            <thead class="font_color_b">
                <th class="text-center">电影名</th><th class="text-center">预测票房A(万)</th><th class="text-center">预测票房B(万)</th><th class="text-center">实际票房(万)</th>
                <th class="text-center">排片率(%)</th>
            </thead>
            <tbody id="dailyBox">
            </tbody>
        </table>
        <div style="margin:auto;margin-top:-20px;font-family:Verdana,Arial,Helvetica,sans-serif;line-height:1.8;font-size:15px;background:#ffffcc;color:#222;padding:0.6em;">
            <div style="margin:0;border:0;background:transparent;padding:0;vertical-align:baseline">
        	点击片名展现该片多天预测趋势；
        点击“详情”（Link）进入艺恩详情页；
        红色底色电影为首日上映。
	    <br/>
	    预测票房A为依赖预售的预测票房，预测票房B为不依赖预售的预测票房。
            </div>
        </div>
    </div> 
    <script src="../static/main/daily.predict.box.error.js"></script>
    <script src="../static/main/display.table.js"></script>
    <br/>
    <div style="width:1040px;margin:auto">
        <div id="ewrapper" style="margin:auto;margin-right:9%;width:70%;height:400px;display:inline-block;vertical-align:middle;background-color:white;">
            <div id="emain" style="margin:auto;width:100%;height:100%;display:inline-block;">
            </div>
        </div>
        <div id="twrapper" style="margin:auto;margin-right:9%;width:60%;height:400px;display:inline-block;vertical-align:middle;background-color:white;">
            <div id="tmain" style="margin:auto;width:100%;height:100%;display:inline-block;">
            </div>
        </div>
        <!--误差列表-->	  
        <div id="error_list" style="width:20%;height:auto;vertical-align:middle;margin:auto;display:inline-block">
            <div style="background-color:#f3b39e;color:#ffffff;text-align:center"><span id="error_div" style="font-size:18px;color:white;"></span></div>
            <table class="table table-striped table-border table-hover text-center back_color_w" style="font-size:12px">
                <thead class="font_color_b">
                    <th class="text-center" style="font-size:13px">票房范围</th><th class="text-center" style="font-size:13px">误差值</th>
                </thead>
                <tbody id="error_table">
                </tbody>
            </table>
        </div>
        <!--趋势列表-->	  
        <div id="trend_list" style="width:30%;height:auto;vertical-align:middle;margin:auto;display:inline-block">
            <div style="background-color:#f3b39e;color:#ffffff;text-align:center"><span id="trend_div" style="font-size:18px;color:white;"></span></div>
            <table class="table table-striped table-border table-hover text-center back_color_w" style="font-size:12px">
                <thead class="font_color_b">
                    <th class="text-center" style="font-size:13px">日期</th><th class="text-center" style="font-size:13px">预测票房A</th>
                    <th class="text-center" style="font-size:13px">预测票房B</th><th class="text-center" style="font-size:13px">真实票房</th>
                </thead>
                <tbody id="trend_table">
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="div_margin" style="width:1040px;margin:auto">
        <div style="background-color:#f3b39e;color:#ffffff;text-align:center;display:none"><span style="font-size:28px;color:white;" >全局误差</span></div>
        <table class="table table-striped table-border table-hover forcast text-center back_color_w" style="display:none">
            <thead class="font_color_b">
                <th class="text-center">周一</th><th class="text-center">周二</th><th class="text-center">周三</th>
                <th class="text-center">周四</th><th class="text-center">周五</th><th class="text-center">周六</th>
                <th class="text-center">周日</th>
            </thead>
            <tbody id="weekday_error">
            </tbody>
        </table>
        <br/>   
        <div style="background-color:#f3b39e;color:#ffffff;text-align:center"><span style="font-size:28px;color:white;" >TOP5误差</span></div>
        <table class="table table-striped table-border table-hover forcast text-center back_color_w" >
            <thead class="font_color_b">
                <th class="text-center" style="color:#2fa4e7">票房类别</th><th class="text-center">周一</th>
		<th class="text-center">周二</th><th class="text-center">周三</th>
                <th class="text-center">周四</th><th class="text-center">周五</th>
		<th class="text-center">周六</th><th class="text-center">周日</th>
            </thead>
            <tbody id="top5_weekday_err">
            </tbody>
        </table>
        <br/>   
        <div style="background-color:#f3b39e;color:#ffffff;text-align:center"><span style="font-size:28px;color:white;" >电影整体误差</span></div>
        <table class="table table-striped table-border table-hover forcast text-center back_color_w" >
            <thead class="font_color_b">
                <th class="text-center" style="color:#2fa4e7">票房类别</th><th class="text-center">周一</th>
		<th class="text-center">周二</th><th class="text-center">周三</th>
                <th class="text-center">周四</th><th class="text-center">周五</th>
		<th class="text-center">周六</th><th class="text-center">周日</th>
            </thead>
            <tbody id="else_weekday_err">
            </tbody>
        </table>
        <br/>   
        <div style="background-color:#f3b39e;color:#ffffff;text-align:center"><span style="font-size:28px;color:white;" >其余误差指标</span></div>
        <table class="table table-striped table-border table-hover forcast text-center back_color_w" >
            <thead class="font_color_b">
		<th class="text-center" style="color:#2fa4e7">票房类别</th>
                <th class="text-center">大盘误差</th>
                <th class="text-center">大盘(累积)误差</th>
		<th class="text-center">TOP5误差</th>
		<th class="text-center">整体误差</th>
                <th class="text-center">首日TOP5误差</th><th class="text-center">首日整体误差</th>
                <th class="text-center">非首日TOP5误差</th><th class="text-center">非首日整体误差</th>
            </thead>
            <tbody id="glob_error">
            </tbody>
        </table>
        <br/>   
    </div>
</div>
<div class='yq_div' style="width:100%;min-width:1045px">
</div>
<div class="footer" style="width:100%;min-width:1045px">
</div>
</div>
</body>
</html>
